<div class="p-4 space-y-6">
  <img src="assets/images/instrucciones.jpg" />
  <ion-text color="primary">
    <h1 class="text-xl font-bold text-center">{{ dinamica.titulo }}</h1>
  </ion-text>
  <p>
    Puedes elegir una frase que a menudo te digas para tranquilizarte. Algunos
    ejemplos pueden ser:
  </p>
  <ul class="text-center">
    <ion-text color="primary" class="font-bold">
      <li>“Calma. Todo pasa.”</li>
    </ion-text>
    <ion-text color="secondary" class="font-bold">
      <li>“Tranquilo, todo irá bien”</li>
    </ion-text>
    <ion-text color="tertiary" class="font-bold">
      <li>“Relájate y respira”</li>
    </ion-text>
  </ul>
  <p>
    En el momento en el que te sientas mal y ansioso, acompáñalo de
    respiraciones profundas y ve diciéndote las autoinstrucciones que hayas
    elegido para ti.
  </p>
  <p>
    Es importante que las personalices y que escojas aquellas que a ti te
    transmitan calma y tranquilidad. Estas frases son diferentes para cada uno
    de nosotros.
  </p>
</div>
