<div class="p-4 space-y-6">
  <img src="assets/images/distraccion.jpg" />
  <ion-text color="primary">
    <h1 class="text-xl font-bold text-center">{{ dinamica.titulo }}</h1>
  </ion-text>
  <p>
    Técnicas que consideraríamos dentro de la distracción sería hablar con otras
    personas, leer o cantar, escuchar música para dejar de pensar en eso, etc.
  </p>
  <p>
    Es importante que tengas en cuenta que no es una técnica que vaya a
    solucionar tu problema, es una solucion a corto plazo.
  </p>
</div>
