<ng-container *ngIf="dinamica$ | async as dinamica">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/dinamicas"></ion-back-button>
      </ion-buttons>
      <ion-title class="font-alai font-light tracking-widest text-2xl">{{dinamica.titulo}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <div [ngSwitch]="dinamica.id">
      <div *ngSwitchCase="1">
        <app-dinamica-uno [dinamica]="dinamica"></app-dinamica-uno>
      </div>
      <div *ngSwitchCase="2">
        <app-dinamica-dos [dinamica]="dinamica"></app-dinamica-dos>
      </div>
      <div *ngSwitchCase="3">
        <app-dinamica-tres [dinamica]="dinamica"></app-dinamica-tres>
      </div>
      <div *ngSwitchCase="4">
        <app-dinamica-cuatro [dinamica]="dinamica"></app-dinamica-cuatro>
      </div>
      <div *ngSwitchCase="5">
        <app-dinamica-cinco [dinamica]="dinamica"></app-dinamica-cinco>
      </div>
      <div *ngSwitchCase="6">
        <app-dinamica-seis [dinamica]="dinamica"></app-dinamica-seis>
      </div>
    </div>
  </ion-content>
</ng-container>
