<div class="p-4 space-y-6">
  <img src="assets/images/enfoque.jpg" />
  <ion-text color="primary">
    <h1 class="text-xl font-bold text-center">{{ dinamica.titulo }}</h1>
  </ion-text>
  <p>
    Esta técnica consiste en llevar los pensamientos negativos a lugares
    tranquilos.
  </p>
  <p>
    Imagina que tienes una deuda y eso te quita paz. No te decimos que olvides
    la deuda; pero lo que sí puedes hacer es ver ese problema bajo otra
    percepción.
  </p>
  <p>
    Con esta dinámica para la ansiedad y preocupación, podrás llevar cosas
    negativas hasta tus imágenes mentales de recuerdos agradables.
  </p>
  <p>
    Intenta pensar en aquel día que sonreíste mucho. Incluso, combina recuerdos
    de sabor, aroma o texturas.
  </p>
</div>
