<div class="p-4 space-y-6">
  <img src="assets/images/detencion-del-pensamiento.jpg" />
  <ion-text color="primary">
    <h1 class="text-xl font-bold text-center">{{ dinamica.titulo }}</h1>
  </ion-text>

  <p>
    Otra de las técnicas que puedes utilizar para hacer frente cuando te venza
    la ansiedad es lo que llamamos detención de pensamiento. Es una técnica que
    se centra en controlar aquellos pensamientos que te están haciendo sufrir y
    te están creando ansiedad
  </p>
  <p>
    Para ello, cuando aparezcan los pensamientos que te producen intranquilidad
    y empiezas a alterarte y a ponerte nervioso, lo que debes hacer es fijarte
    en ellos y observar cuáles de ellos son negativos. Una vez los hayas
    identificado, debes decir fuerte:
  </p>

  <ul class="text-center">
    <ion-text color="primary">
      <li class="font-bold">"¡BASTA!"</li>
    </ion-text>
    <li>
      <ion-icon size="large" name="hand-right-outline"></ion-icon>
    </li>
    <ion-text color="secondary">
      <li class="font-bold">"¡STOP!”</li>
    </ion-text>
    <li>
      <ion-icon size="large" name="hand-right-outline"></ion-icon>
    </li>
    <ion-text color="tertiary">
      <li class="font-bold">"¡PARA!”</li>
    </ion-text>
  </ul>
  <p>
    Si estás sola en casa, por ejemplo, puedes decirlo en voz alta y puedes dar
    incluso una palmada. Si estás en público es mejor que lo digas con todas tus
    fuerzas mentalmente. Inmediatamente sustitúyelo por otro pensamiento más
    positivo.
  </p>
  <p>
    Es importante que aprendas antes a identificar los pensamientos que te
    resultan desagradables y te causan ansiedad. Si no eres capaz de hacerlo
    aún, puedes utilizar antes un autoregistro de pensamiento. Para ello, toma
    una hoja y de manera horizontal haz columnas: en una de ellas pon la
    situación, en otra columna pon “Pensamiento”, en otra pon “Ansiedad (0-10)”.
    Así, cuando notes que te encuentras mal y que tienes ansiedad, apunta en la
    hoja el nivel de ansiedad, en qué situación te encuentras y lo que has
    pensado. Aprende así a identificar los pensamientos.
  </p>
</div>
